
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm Features</title>
</head>
<body>
    <h1>Welcome to Paytm Features</h1>
    <ul>
        <li><a href="{% url 'userprofile-list' %}">User Profile</a></li>
        <li><a href="{% url 'investment-list' %}">Investment</a></li>
        <li><a href="{% url 'shoppingassistant-list' %}">Shopping Assistant</a></li>
        <li><a href="{% url 'chatbox-list' %}">Chatbox</a></li>
    </ul>
</body>
</html>
